beautifulsoup4==4.13.4
blinker==1.9.0
build==1.2.2.post1
click==8.2.1
coverage==7.8.2
Flask==3.0.3
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.6.0
psutil==7.0.0
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-cov==6.1.1
pytest-json-ctrf==0.3.5
setuptools==80.9.0
setuptools-git-versioning==2.1.0
soupsieve==2.7
toml==0.10.2
typing_extensions==4.13.2
Werkzeug==3.1.3
