:root {
	font-size: 2.5rem;
}

@font-face {
	font-family: 'Antonio';
	font-weight: 400;
	src: url('/static/fonts/Antonio-Regular.woff2") , url('/static/fonts/Antonio-Regular.woff) ;
}

@font-face {
	font-family: 'Antonio';
	font-weight: 700;
	src: url('/static/fonts/Antonio-Bold.woff2") , url('/static/fonts/Antonio-Bold.woff) ;
}

body {
  margin: 40px;
  background-color: #000;
  font-family: 'Antonio', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  display: grid;
  grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% ;
  grid-gap: 1px;
  color: #444;
}

.box {
  justify-content: space-between;
  color: #fff;
  background-color: #78f;
  border-radius: 5px;
  padding: 20px;
}

.box .box {
    background-color: #68f;
    padding: 20px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}

.top-left-frame	{
    padding-top: 90px;
    border-radius: 140px 0 0 0;
    grid-column: 1 ;
    grid-row: 1;
}

.title-frame {
    grid-column: 2 / span 8 ;
    grid-row: 1 ;
    text-align: right;
}

.left {
   grid-column: 1  ;
}

.left:hover {
	filter: brightness(115%);
	animation: none;
}

.text {
   grid-column: 2 / span 8 ;
}

.bottom-left-frame	{
   padding-top: 90px;
   border-radius: 0 0 0 140px;
   grid-column: 1 ;
}

.footer-frame {
   grid-column: 2 / span 8 ;
   font-size: .4rem;
   display: grid;
   grid-gap: 5px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.measure {
    padding-right: 5px;
    color: #FF0000;
}

.value {
    color: #00FF00;
}
